div.forecastBoxes{
   
    text-align: center;
    max-width: 490px;
   
     font-size: 14px;

     padding-top: 20px;
     padding-bottom: 7px;
     font-weight: bold;
    
}
div.forecastBoxes:hover{
    background-color: #EFE6DE ;
    
    border-radius: 9%;
    
}
div.forecastIcon{
    height: 80px;
}
