li{
    list-style-type: none;
    float: left;
    padding-right: 50px;
    position: relative;
left:45px;
top: 15px;

}

.description{
    text-align: center;
    font-weight: bold;
}

.information{
    text-align: center;
    max-width: 500px;
  
}
.image{
    display: block;
     
margin: 0 auto;
height: 120px;


}
.wrapper{
   border: 1px solid #6C757D;
   border-radius: 3%;
   padding: 10px;
   padding-bottom: 0px;
   background: white;
 
}
.temperature{
    font-size: 70px;
   position: relative;
 left: 10px;
 
 
   
    
}
.unit{
    font-size: 20px;
 position: relative;
 bottom: 30px;
 left:10px
   
}
.city{
    text-align: center;
    font-size: 50px;
    padding: 0px;
    padding-bottom: 0px;
}

.date{
    text-align: center;
    font-size: 15px;
    

}

 .button{
   margin-top: 2px;

  
   
}
.btn-dark:hover{
    background-color:#757A79 !important;
    border-color: #757A79 !important;
}


.forecastBoxes{
   
    text-align: center;
    max-width: 490px;
   
     font-size: 13px;

     padding-top: 20px;
     padding-bottom: 7px;
    
}
.forecastBoxes:hover{
    background-color: #f2efef ;
    border-radius: 9%;
}
.forecastIcon{
    height: 80px;
}

